@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

ul {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}